<html>
    <head>
        <title>Data-avontuur</title>
    </head>
    <body>
        <div>
            <h3>Data-avontuur</h3>
        </div>

        <div>
            1e post
            <p>Dit komt goed uit, ik was toch al van plan een blog te beginnen vanwege mijn switch naar BI/DWH! Handig dat Python ook gebruikt wordt voor BI analytics ;)</p>
        </div>

        <div>
            2e post
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
